.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 15px 20px;
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
}

.header h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.header-buttons {
  display: flex;
  gap: 10px; /* Space between buttons */
}

.create-post, .go-home-bt {
  background-color: #363836;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.create-post:hover {
  background-color: #4fa3b6;
  transform: scale(1.05);
}

.create-post:active {
  background-color: #3d8c9e;
  transform: scale(0.98);
}

.go-home-button:hover {
  background-color: #4fa3b6;
  transform: scale(1.05);
}

.go-home-button:active {
  background-color: #3d8c9e;
  transform: scale(0.98);
}
